<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.dao.messageDao">

<resultMap type="message" id="messageResult">
	<result property="id" column="id"/>
	<result property="userName" column="userName"/>
	<result property="content" column="content"/>	
	<result property="date" column="date"/>		
</resultMap>
	<!-- 添加新的评论 -->
	<insert id="add" parameterType="message">
		insert into t_message values(null,#{userName},#{content},now())
	</insert>

	<select id="list" parameterType="Map" resultMap="messageResult">
		select * from t_message order by date
	</select>
	
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_message
	</select>
	
	<delete id="delete" parameterType="Integer">
		delete from t_message where id=#{id}
	</delete>
	
	

</mapper>
	